:root {
    --bg_color_lighten: #eee;
    --bg_color_darken:  #ddd;
    --text_color:       #141414;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font: 18px 'Work Sans', sans-serif;
}
body {
    margin: 0;
}
a {
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
figure {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 1200px;

    margin-right: auto;
    margin-left: auto;
    
    padding-right: 1rem;
    padding-left: 1rem;

    background-color: var(--bg_color_lighten);
    color: var(--text_color);
}
.main-menu {
    display: flex;
    
    padding: 1rem;

    background-color: var(--bg_color_darken);
}
.main-menu__item {
    margin-right: 1rem;
}
.main-menu__item--go-top {
    margin-left: auto;
    margin-right: 0;
}
.article {
    border-bottom: 1px solid var(--bg_color_darken);
}
.main-menu__link--go-top {
    padding: .5rem;
    background-color: var(--bg_color_lighten);
    text-decoration: none;
}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--bg_color_darken);
}
.figcaption {
    padding: 1rem;
}
.footer {
    margin-top: auto;
}