:root {
    --bg_color_lighten: #eee;
    --bg_color_darken:  #ddd;
    --text_color:       #141414;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
}
a {
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
figure {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 1200px;

    margin-right: auto;
    margin-left: auto;
    
    padding-right: 1rem;
    padding-left: 1rem;

    background-color: var(--bg_color_lighten);
    color: var(--text_color);
}

.main-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--bg_color_darken);
}
.main-menu__item {
    display: inherit;
    align-items: center;
}
.main-menu__link {
    margin: .5rem;
    padding: .5rem;
}
.main-menu__link--go-top {
    flex: 1;

    background-color: var(--bg_color_lighten);
    text-decoration: none;
}

.article {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bg_color_darken);
}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
    background-color: var(--bg_color_darken);
}
.figcaption {
    padding: 1rem;
}

.definition-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem;

    padding: .25rem;

    background-color: var(--bg_color_darken);
}
.definition-list--full-description {
    grid-template-columns: auto auto 2fr;
}
.definition-list__def,
.definition-list__desc {
    padding: .5rem;
    background-color: var(--bg_color_lighten);
}
.definition-list__def {
    text-align: center;
}
.definition-list__desc {
    margin-left: 0;
}

.blockuote {
    margin-left: 0;
    padding: .15rem 1rem .15rem 2rem;

    background-color: var(--bg_color_darken);
    border-left: 5px solid;
}

.footer {
    margin-top: auto;
}

@media screen and (min-width: 650px) {
    html {
        font-size: 18px;
    }
    
    .main-menu {
        flex-direction: row;
    }
    .main-menu__item {
        margin-right: 1rem;
    }
    .main-menu__item--go-top {
        margin-left: auto;
        margin-right: 0;
    }
}

/* Helpers */
.emphasis,
.important {
    padding-right: .35rem;
    padding-left: .35rem;
    background-color: #cee;
}
.emphasis {
    font-weight: 600;
}
.important {
    font-weight: 900;
}